Merge Movie Financial Data with Genre Data in a new dataframe.  Missing data will be queried from TMDB using their API.  The resulting dataframe will be saved in a CSV file for analysis.

In [1]:
import pandas as pd
import requests
import json
import math
import warnings
import time

In [2]:
def get_keys(path):
    """Get the API Key in the file indictated by the path parameter"""
    with open(path) as f:
        return json.load(f)

# Read in the Data from its CSVs

In [3]:
last_20_years_movie_budgets_df = pd.read_csv('datasets/last_20_years_movie_budgets.csv')

In [4]:
clean_tmdb_movies_df = pd.read_csv('datasets/clean_tmdb_movies.csv')

# Merge Available Data

do a left join so that none of the budget/profit data is lost and then attempt to fill in the genre data

## Left Join

In [5]:
bud_prof_genres_df = pd.merge(last_20_years_movie_budgets_df, clean_tmdb_movies_df, how='left', 
                              left_on=['movie', 'release_year'], right_on=['original_title', 'release_year'])

## Look at the Data

In [6]:
bud_prof_genres_df[['movie','title', 
                    'real_production_budget', 'real_domestic_gross', 'real_worldwide_gross', 'real_profit',
                    'genre_ids']]

,movie,title,real_production_budget,real_domestic_gross,real_worldwide_gross,real_profit,genre_ids
0,My Dog Skip,NaN,1.039256e+07,5.062608e+07,5.314358e+07,4.275102e+07,NaN
1,Next Friday,NaN,1.410419e+07,8.488730e+07,8.859704e+07,7.449285e+07,NaN
2,The Terrorist,NaN,3.711629e+04,2.895709e+05,2.895709e+05,2.524546e+05,NaN
3,Supernova,NaN,8.907909e+07,2.111006e+07,2.199733e+07,-6.708176e+07,NaN
4,The Boondock Saints,NaN,1.039256e+07,4.523882e+04,6.114894e+05,-9.781072e+06,NaN
...,...,...,...,...,...,...,...
4000,Aladdin,NaN,1.820000e+08,2.467343e+08,6.192343e+08,4.372343e+08,NaN
4001,BrightBurn,NaN,7.000000e+06,1.679443e+07,2.798950e+07,2.098950e+07,NaN
4002,Rocketman,NaN,4.100000e+07,5.734272e+07,1.086427e+08,6.764272e+07,NaN
4003,Godzilla: King of the Monsters,NaN,1.700000e+08,8.557694e+07,2.992769e+08,1.292769e+08,NaN
4004,MA,NaN,5.000000e+06,3.604954e+07,4.430062e+07,3.930062e+07,NaN

Check to see how many rows are missing Genre Info

In [7]:
bud_prof_genres_df['genre_ids'].isna().sum()

2431

## Gather Missing Genre Ids

After doing a merge of the Budgets/Profit dataframe with the TMDB movies dataframe about half of the movies with a budget didn't merge with the TMDB dataframe

**Why?** Are they not in the TMDB dataframe, or is there a slight difference in the title?  Also, can the data be retrieved from the TMDB api to fill in the missing information?

In [8]:
# let's check the first movie
# are there any movies with the word 'dog' in the TMDB dataframe?
clean_tmdb_movies_df[clean_tmdb_movies_df['original_title'].str.contains('Skip|skip')]

,Unnamed: 0,Unnamed: 0.1,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count,release_year
1294,1306,1306,[],473553,en,Sundance Skippy,1.114,2010-01-21,Sundance Skippy,8.0,5,2010
17416,17493,17493,"[28, 35, 53, 9648]",270774,en,Skiptrace,12.525,2016-09-02,Skiptrace,5.6,324,2016

In [9]:
clean_tmdb_movies_df[clean_tmdb_movies_df['title'].str.contains('Skip|skip')]

,Unnamed: 0,Unnamed: 0.1,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count,release_year
1294,1306,1306,[],473553,en,Sundance Skippy,1.114,2010-01-21,Sundance Skippy,8.0,5,2010
17416,17493,17493,"[28, 35, 53, 9648]",270774,en,Skiptrace,12.525,2016-09-02,Skiptrace,5.6,324,2016

The first movie doesn't appeal to be in the TMDB dataframe, but it is on the TMDB site, so it can be queried to get its data

**What is the best way to get this data using the API?**

I will iterate through the new dataframe and query the API for the missing data, and then see what is still missing

In [10]:
bud_prof_genres_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4005 entries, 0 to 4004
Data columns (total 24 columns):
Unnamed: 0_x              4005 non-null int64
id_x                      4005 non-null int64
release_date_x            4005 non-null object
movie                     4005 non-null object
production_budget         4005 non-null int64
domestic_gross            4005 non-null int64
worldwide_gross           4005 non-null int64
release_year              4005 non-null int64
real_production_budget    4005 non-null float64
real_domestic_gross       4005 non-null float64
real_worldwide_gross      4005 non-null float64
real_profit               4005 non-null float64
real_margin               4005 non-null float64
Unnamed: 0_y              1574 non-null float64
Unnamed: 0.1              1574 non-null float64
genre_ids                 1574 non-null object
id_y                      1574 non-null float64
original_language         1574 non-null object
original_title            1574 non-null object
popularity                1574 non-null float64
release_date_y            1574 non-null object
title                     1574 non-null object
vote_average              1574 non-null float64
vote_count                1574 non-null float64
dtypes: float64(11), int64(6), object(7)
memory usage: 782.2+ KB

### Create a mask for the missing Genre ID's

In [11]:
bud_prof_genres_df.genre_ids.unique()

array([nan, '[80, 18, 878, 53]', '[18, 10402]', '[28, 18, 53, 10752]',
       '[28, 18, 9648, 53]', '[80, 53]', '[27, 12, 28]', '[28, 18, 53]',
       '[27, 9648, 80]', '[878, 28, 27, 53, 12, 14]', '[12, 35, 10751]',
       '[18, 53]', '[10749, 35]', '[12, 14]', '[12, 16, 10751]', '[35]',
       '[28, 12, 14, 878]', '[28, 35, 10751]', '[28, 53, 878]',
       '[35, 10751, 14]', '[18]', '[27]', '[80, 18, 9648, 53]',
       '[18, 10749, 10752]', '[12, 14, 10751]', '[35, 10749]',
       '[53, 9648]', '[18, 53, 9648]', '[18, 28, 35, 80]', '[18, 80]',
       '[28, 35, 80]', '[9648, 27, 28]', '[10751, 14, 12]', '[]',
       '[10752, 28, 12, 18, 53]', '[18, 10749]', '[28, 35, 18]',
       '[28, 878, 53, 80]', '[35, 10751]', '[878, 35, 12]',
       '[80, 53, 35, 9648]', '[14, 12, 16, 10751]', '[18, 10751, 10749]',
       '[12, 14, 28]', '[35, 80, 53]', '[18, 10751]',
       '[80, 18, 9648, 10749]', '[35, 18]', '[28, 80]', '[99, 10751]',
       '[28, 12, 80, 9648, 53]', '[53, 80, 18, 28]', '[27, 9648, 53]',
       '[18, 35, 10749]', '[12, 28, 878]', '[35, 18, 10749]',
       '[28, 12, 18]', '[18, 28, 10749]', '[28, 12, 35]',
       '[35, 12, 14, 16, 10751]', '[99]', '[28, 35, 53, 10749]',
       '[10751, 35]', '[28, 12, 18, 10751]', '[53, 28, 12, 35, 80]',
       '[16, 10751, 35]', '[80, 18, 53]', '[28, 37, 18, 14, 53]',
       '[28, 35]', '[12, 14, 18, 10749]', '[28, 12, 10751, 14]',
       '[28, 878, 12, 53]', '[14, 12, 28, 35, 18]', '[28, 878, 12]',
       '[35, 10402, 10751]', '[12, 18, 28, 14]', '[28, 9648, 53]',
       '[35, 18, 9648]', '[35, 10751, 28, 14]', '[10749, 18]',
       '[53, 12, 28]', '[18, 53, 80, 9648]', '[35, 27]',
       '[35, 10749, 18]', '[35, 14, 10751]', '[28, 80, 18, 53]',
       '[27, 53]', '[12, 28, 18]', '[27, 18, 53]', '[28, 35, 53]',
       '[28, 12, 27, 878]', '[18, 10749, 878]', '[18, 10752, 9648]',
       '[14, 18]', '[16, 12, 10751, 14]', '[18, 27, 9648]',
       '[18, 27, 9648, 53]', '[53, 80, 27]', '[18, 80, 53]',
       '[80, 18, 53, 36]', '[18, 14]', '[35, 99, 28]', '[18, 53, 878]',
       '[27, 80]', '[16, 28, 35, 10751, 878]', '[35, 80, 18]',
       '[12, 18, 53]', '[28, 53]', '[878, 28]', '[10749, 35, 18]',
       '[35, 18, 36]', '[10749, 18, 53, 80]', '[80, 18, 28, 53]',
       '[10402, 14, 28, 10751]', '[16, 10751]',
       '[18, 9648, 53, 80, 10749]', '[12, 14, 28, 37, 53]',
       '[12, 10751, 14]', '[28, 53, 10749]', '[80, 35, 18]',
       '[35, 10751, 16, 12]', '[18, 12, 37]', '[18, 10749, 10402]',
       '[16, 18]', '[35, 12, 10751, 14]', '[28, 80, 35]', '[28, 53, 80]',
       '[18, 53, 27]', '[53, 18, 27]', '[12, 18]', '[99, 10402, 10751]',
       '[80, 35, 28]', '[14, 53, 28, 80]', '[16, 35, 10751, 37, 12]',
       '[18, 14, 10749, 878]', '[878, 53, 10749]', '[28, 878]',
       '[28, 80, 53, 18]', '[14, 53, 27]', '[12, 35, 878]',
       '[53, 9648, 878]', '[28, 14, 53]', '[35, 28, 18]',
       '[53, 878, 9648]', '[16, 35, 10751]', '[35, 12, 14]',
       '[28, 53, 12]', '[10751, 28, 18]', '[80, 18, 36]', '[27, 9648]',
       '[16, 12, 35, 10751]', '[28, 35, 27, 9648, 878, 53]',
       '[80, 28, 53]', '[18, 10752]', '[14, 27]', '[14, 35, 10749]',
       '[12, 28, 14]', '[18, 10749, 35]', '[12, 28, 53, 878]',
       '[16, 10751, 12, 35]', '[12, 35, 10749]', '[35, 10749, 10751]',
       '[35, 80]', '[35, 53, 28, 18]', '[18, 36]', '[28, 12, 878]',
       '[18, 878]', '[28, 35, 878]', '[28, 35, 53, 80]',
       '[18, 28, 53, 80, 10752]', '[16, 10751, 12, 35, 14]',
       '[53, 28, 18, 878]', '[27, 35]', '[10751, 35, 28]', '[10752, 18]',
       '[18, 36, 10752]', '[28, 53, 80, 18]', '[18, 53, 80]',
       '[27, 53, 878]', '[35, 99]', '[18, 28, 53, 80]', '[53, 28, 9648]',
       '[28, 12, 53]', '[27, 28, 53]', '[53, 18]', '[28, 878, 18]',
       '[12, 28, 37]', '[18, 10402, 10749]', '[80, 18, 53, 9648]',
       '[27, 878, 9648, 53]', '[12, 28, 53]', '[80, 12, 28, 35, 53]',
       '[18, 35]', '[18, 36, 53]', '[28, 12, 16, 10751, 14, 35]',
       '[18, 80, 36]', '[14, 28, 18]', '[35, 10751, 10402]',
       '[18, 16, 10751, 35]', '[12, 18, 10751]', '[12, 28, 80, 9648]',
       '[35, 14, 10751, 10402, 16]', '[53, 80, 9648, 18]',
       '[12, 16, 9648]', '[18, 35, 10751]', '[27, 28, 53, 878]',
       '[53, 27]', '[35, 10402]', '[53, 28, 18, 80]',
       '[18, 28, 12, 36, 10752]', '[14, 28, 27]', '[18, 53, 28, 12]',
       '[878, 18, 53]', '[18, 27, 53]', '[12, 18, 10749]', '[27, 53, 80]',
       '[28, 35, 10749]', '[28, 53, 10752]', '[878, 12, 14]',
       '[14, 12, 28]', '[12, 35, 18, 10751, 14]', '[27, 35, 53]',
       '[80, 53, 9648]', '[28, 80, 53]', '[878, 28, 12]', '[35, 14]',
       '[53, 28, 12, 878]', '[36, 18]', '[18, 28]', '[12, 14, 18]',
       '[878, 12, 9648]', '[35, 10749, 878, 18]',
       '[35, 18, 10402, 10749]', '[28, 14, 27]', '[35, 18, 10749, 878]',
       '[16, 12, 35, 10751, 28, 14]', '[18, 14, 12]', '[28, 12, 14]',
       '[99, 10402]', '[53]', '[16, 35, 12, 10751]', '[10402, 18, 10749]',
       '[14, 18, 35, 10751]', '[10751, 16, 12, 35]', '[878, 35, 18, 80]',
       '[18, 99]', '[80, 18]', '[28, 53, 9648]', '[28, 27, 878]',
       '[16, 35, 10751, 14]', '[35, 10402, 10749]', '[53, 18, 9648]',
       '[27, 53, 9648]', '[18, 878, 9648]', '[28, 53, 80, 9648]',
       '[53, 27, 9648]', '[35, 10749, 27]', '[28]', '[10751, 16, 35, 12]',
       '[16, 10751, 14]', '[10752, 28, 53, 878]', '[12, 18, 28]',
       '[53, 18, 36]', '[80, 18, 53, 28]', '[14, 10751, 10402, 18]',
       '[18, 37]', '[53, 80, 18]', '[14, 27, 28]', '[27, 35, 10749]',
       '[10402, 18]', '[14, 18, 10749]', '[10749]', '[53, 10749]',
       '[878, 53, 27]', '[27, 53, 18]', '[12, 10751]', '[14, 12, 10751]',
       '[53, 28, 80, 18]', '[10749, 878, 18, 14]',
       '[28, 12, 16, 35, 10751, 14]', '[12, 28, 878, 53]',
       '[28, 12, 10749, 878, 53]', '[53, 80, 18, 9648]', '[35, 14, 53]',
       '[28, 878, 12, 9648]', '[53, 80, 28, 35]', '[53, 80]',
       '[878, 27, 53]', '[28, 18, 27, 878, 53]', '[36]', '[28, 12, 37]',
       '[28, 35, 80, 53]', '[14, 28, 35, 80]', '[28, 878, 12, 14]',
       '[14, 10751, 35, 16]', '[878, 28, 18, 53]', '[28, 12, 80]',
       '[80, 18, 10749, 37]', '[28, 12, 18, 9648, 10749, 14]',
       '[35, 28, 878]', '[878, 28, 53]', '[878, 53, 18]', '[80, 53, 18]',
       '[36, 18, 53, 9648]', '[27, 14]', '[18, 27]', '[99, 18, 36]',
       '[35, 18, 878]', '[18, 12]', '[16, 12, 10751]', '[53, 18, 80]',
       '[16, 10751, 12]', '[28, 18, 10752]', '[18, 28, 12, 14]',
       '[12, 35, 18, 14]', '[80, 18, 35]', '[28, 12]',
       '[16, 35, 10751, 12]', '[10752, 18, 36, 28]',
       '[12, 16, 35, 10751, 14]', '[28, 12, 36, 10749, 18]',
       '[28, 18, 53, 80]', '[28, 10752, 14]', '[35, 18, 80]',
       '[35, 12, 80, 10751]', '[53, 878, 18]', '[12, 35, 10751, 16]',
       '[53, 878, 18, 9648]', '[28, 80, 18]', '[28, 18, 878]',
       '[14, 12, 28, 10751, 10749]', '[53, 878]',
       '[14, 28, 12, 16, 35, 10751]', '[35, 10402, 10749, 18]',
       '[10751, 12, 878]', '[878, 18]', '[878, 28, 12, 14, 35]',
       '[10752, 18, 36]', '[12, 28]', '[37, 18]', '[10751, 18]',
       '[28, 9648, 878, 53]', '[35, 27, 18, 53]', '[53, 28, 80]',
       '[53, 28, 878]', '[9648, 53, 18]', '[27, 28, 18, 14, 10752]',
       '[10749, 16, 12, 35, 10751, 14]', '[10752, 18, 28]',
       '[10402, 18, 35]', '[9648, 53]', '[12, 18, 878]',
       '[35, 10751, 10749, 18]', '[12, 10751, 16, 28, 35]',
       '[878, 12, 53]', '[36, 18, 53, 10752]', '[35, 18, 10751]',
       '[12, 35, 14, 10751]', '[14, 35]', '[10752, 28]', '[53, 28]',
       '[80, 53, 28]', '[35, 12, 10751]', '[35, 12]', '[878, 53]',
       '[53, 80, 28]', '[10752, 99, 12, 36]', '[12, 35, 10751, 14, 16]',
       '[878, 14, 28, 12]', '[18, 10749, 53]', '[80, 35, 28, 12]',
       '[10749, 35, 80, 18]', '[80, 28, 878]', '[10749, 14, 10751, 18]',
       '[28, 18, 80]', '[35, 18, 10402]', '[14, 35, 16, 878, 10751]',
       '[14, 53, 18]', '[9648, 18, 53]', '[35, 18, 10752]',
       '[27, 18, 9648]', '[12, 10751, 9648, 878]', '[36, 18, 10752]',
       '[28, 12, 878, 53]', '[9648, 35]', '[18, 35, 16, 10751]',
       '[28, 18]', '[18, 9648, 10749]', '[35, 28]',
       '[18, 10402, 10749, 35]', '[12, 35, 18]', '[53, 28, 80, 9648]',
       '[28, 878, 53]', '[18, 12, 878]', '[12, 80, 18, 53]',
       '[12, 27, 35]', '[18, 14, 27, 9648, 10749, 53]',
       '[14, 28, 12, 878]', '[18, 14, 10402]', '[35, 10402, 10752]',
       '[878, 35, 27]', '[12, 35, 16, 10751]', '[18, 53, 36]',
       '[35, 10751, 18]', '[18, 878, 53]', '[27, 35, 14]',
       '[16, 12, 10751, 878]', '[53, 18, 12, 28, 36]',
       '[12, 16, 35, 10751]', '[10752, 18, 53]', '[37, 18, 12]',
       '[80, 18, 9648, 37]', '[16, 35, 18, 10749]', '[18, 27, 14]',
       '[80, 28]', '[28, 18, 36, 53, 10752]', '[12, 878]', '[28, 18, 37]',
       '[28, 18, 36, 53]', '[28, 12, 16, 35, 10751]',
       '[10749, 27, 35, 53]', '[12, 16, 14, 10751]', '[9648, 27]',
       '[35, 18, 36, 12]', '[16, 12, 10751, 35]', '[10752, 35]',
       '[18, 53, 10752]', '[53, 35, 18, 10749, 878]',
       '[10749, 35, 10751]', '[27, 80, 53]', '[12, 18, 10751, 14]',
       '[28, 80, 878, 53, 9648, 18]', '[35, 80, 9648]', '[16, 12, 35]',
       '[28, 12, 878, 14]', '[28, 12, 35, 10751, 878]', '[28, 35, 9648]',
       '[35, 18, 10749, 14, 12]', '[28, 18, 36, 10752]', '[28, 27, 53]',
       '[28, 14, 35]', '[12, 16, 10751, 35]', '[53, 9648, 27]',
       '[9648, 12, 80]', '[28, 12, 80, 14, 878]', '[12, 16, 35, 14]',
       '[80, 18, 53, 37]', '[27, 878, 53]', '[12]', '[9648, 18, 27]',
       '[18, 36, 80, 53]', '[80, 18, 9648, 10749, 53]',
       '[12, 10751, 35, 14, 10402, 16]', '[18, 10751, 35]',
       '[28, 18, 10752, 10749, 53]', '[16, 35, 18, 10751]',
       '[28, 18, 53, 80, 36]', '[28, 14, 27, 18]', '[10749, 12, 878, 18]',
       '[28, 16, 35, 10751, 14]', '[9648, 53, 27]',
       '[12, 16, 35, 10751, 10402]', '[10752, 18, 36, 10749]',
       '[18, 9648, 53, 14]', '[10751, 14, 10749]', '[28, 878, 53, 18]',
       '[80, 35]', '[12, 18, 36]', '[28, 80, 9648]', '[36, 10749, 18]',
       '[18, 53, 28, 878]', '[28, 18, 14]', '[53, 10752, 18]',
       '[12, 28, 14, 35]', '[12, 14, 10752, 10749]',
       '[28, 16, 35, 10751]', '[14, 53, 28, 12, 27]', '[28, 878, 53, 12]',
       '[28, 16, 35, 10751, 12]', '[18, 14, 10749]', '[28, 12, 878, 18]',
       '[53, 27, 14]', '[18, 878, 10752]', '[10752, 28, 18]',
       '[12, 878, 28]', '[28, 14, 878, 37, 27]', '[28, 35, 80, 18]',
       '[28, 16, 12, 10751]', '[28, 53, 18]', '[18, 80, 53, 27]',
       '[80, 27, 9648, 53]', '[28, 12, 35, 14]', '[80, 18, 9648]',
       '[35, 12, 10751, 14, 16]', '[16, 10751, 35, 12, 14]',
       '[9648, 27, 53]', '[10749, 18, 10402]', '[28, 12, 16]',
       '[14, 9648, 53, 27]', '[10751, 35, 16, 12]', '[878]',
       '[9648, 35, 80]', '[12, 878, 10751, 14]', '[18, 10751, 10402]',
       '[10749, 16, 35, 10751, 14, 9648, 12]', '[28, 14, 878, 12]',
       '[18, 27, 53, 878]', '[16, 12, 10751, 36, 10752]', '[28, 35, 12]',
       '[53, 10749, 12]', '[53, 878, 28]', '[18, 10402, 35]',
       '[80, 18, 36, 53]', '[28, 12, 16, 10751]', '[28, 878, 53, 27]',
       '[28, 12, 878, 35]', '[14, 878, 35]', '[10751, 14, 35, 16]',
       '[12, 35, 10751, 14]', '[53, 28, 18]', '[878, 28, 53, 12, 27]',
       '[28, 53, 27, 14, 9648]', '[53, 80, 9648, 35, 18]', '[35, 18, 37]',
       '[16, 10751, 12, 14]', '[12, 35, 14, 10751, 27]',
       '[80, 9648, 53, 18]', '[18, 36, 35]', '[27, 18]',
       '[18, 10749, 80]', '[14, 10751, 35]', '[18, 35, 14]',
       '[9648, 12, 35, 80]', '[18, 28, 80]'], dtype=object)

In [12]:
nan = bud_prof_genres_df.genre_ids.unique()[0]

In [13]:
type(nan)

float

In [14]:
# check that nan will return True (it is NaN)
math.isnan(nan)

True

In [15]:
def is_nan(x):
    """Return Boolean of whether the input value is NaN"""
    if type(x) == type(1.9):
        return math.isnan(x)
    else:
        return False

In [16]:
mask = bud_prof_genres_df.genre_ids.apply(is_nan)

Look at the results of the mask

In [17]:
bud_prof_genres_df.genre_ids[mask].unique()

array([nan], dtype=object)

## Gather Data with API
Now that the mask has been created, it's time to gather the genre data using the TMDB API and add it to the active dataframe

In [18]:
# get the api key
keys = get_keys('/Users/freethrall/.secret/tmdb_api.json')
api_key = keys['api_key']

# url of the movie database api for genres
url = 'https://api.themoviedb.org/3/search/movie'

def get_genre_ids(movie):
    """Return the genre_ids of the parameter movie, will use TMDB API if neccessary"""
    
    movie_title = movie.movie

    parameters = {'api_key': api_key,
                 'language': 'en-US',
                 'query': movie_title}

    # get the current time
    t0 = time.time()
    
    r = requests.get(url, params=parameters)
    
    # the delay is the current time - t0 (the previous time)
    response_delay = time.time() - t0
    
    # wait 10x longer than it took them to respond
    time.sleep(10*response_delay)  
    
    if r.status_code != 200: #there was a problem
        warnings.warn(f'There was a problem with {movie_title}, status code {r.status_code}')
        return None
    else:
        results = pd.DataFrame.from_dict(r.json()['results'])
        
        if len(results) == 0: # the movie data is not available
            print(f'Genre Data not available for {movie_title}')
            return None
        else:
            genre_id_list = str(results['genre_ids'][0])
            #print(f'{movie_title} -- {genre_id_list}')      
            return genre_id_list

In [19]:
bud_prof_genres_df.genre_ids[mask] = bud_prof_genres_df[mask].apply(get_genre_ids, axis=1)
bud_prof_genres_df

Genre Data not available for Hum to Mohabbt Karega
Genre Data not available for AimÃƒÂ©e & Jaguar
Genre Data not available for The Widow of St. Pierre
Genre Data not available for A KnightÃ¢Â€Â™s Tale
Genre Data not available for John CarpenterÃ¢Â€Â™s Ghosts of Mars
Genre Data not available for DonÃ¢Â€Â™t Say a Word
Genre Data not available for Le Fabuleux destin d'AmÃƒÂ©lie Poulain
Genre Data not available for Keeping it Real: The Adventures of Greg Walloch
Genre Data not available for Harry Potter and the SorcererÃ¢Â€Â™s Stone
Genre Data not available for Y Tu MamÃƒÂ¡ TambiÃƒÂ©n
Genre Data not available for National LampoonÃ¢Â€Â™s Van Wilder
Genre Data not available for The Business of Fancy Dancing
Genre Data not available for Star Wars Ep. II: Attack of the Clones
Genre Data not available for The Divine Secrets of the Ya-Ya Sisterhood
Genre Data not available for Wes Craven Presents: They
Genre Data not available for Steal (Canadian Release)
Genre Data not available for 28 Days LaterÃ¢Â€Â¦
Genre Data not available for Teacher's Pet: The Movie
Genre Data not available for Tae Guik Gi: The Brotherhood of War
Genre Data not available for La mala educaciÃƒÂ³n
Genre Data not available for Un long dimanche de fianÃƒÂ§ailles
Genre Data not available for The Mongol King
Genre Data not available for The HelixÃ¢Â€Â¦Loaded
Genre Data not available for Star Wars Ep. III: Revenge of the Sith
Genre Data not available for De battre mon coeur s'est arrÃƒÂªtÃƒÂ©
Genre Data not available for The Producers: The Movie Musical
Genre Data not available for CachÃƒÂ©
Genre Data not available for GrandmaÃ¢Â€Â™s Boy
Genre Data not available for Joyeux NoÃƒÂ«l
Genre Data not available for Pirates of the Caribbean: Dead ManÃ¢Â€Â™s Chest
Genre Data not available for Artie Lange's Beer League
Genre Data not available for La science des rÃƒÂªves
Genre Data not available for DÃƒÂ©jÃƒ Vu
Genre Data not available for IndigÃƒÂ¨nes
Genre Data not available for Pirates of the Caribbean: At WorldÃ¢Â€Â™s End
Genre Data not available for La MÃƒÂ´me
Genre Data not available for MoliÃƒÂ¨re
Genre Data not available for Mr. BeanÃ¢Â€Â™s Holiday
Genre Data not available for IÃ¢Â€Â™m Not There
Genre Data not available for 4 luni, 3 saptamani si 2 zile
Genre Data not available for Hannah Montana/Miley Cyrus: Best of Both Worlds Concert Tour
Genre Data not available for Dolphins and Whales Tribes of the Ocean 3D
Genre Data not available for Die FÃƒÂ¤lscher
Genre Data not available for Ã©Â•Â·Ã¦Â±ÂŸÃ¤Â¸ÂƒÃ¨Â™ÂŸ (CJ7)
Genre Data not available for Son of Rambow: A Home Movie
Genre Data not available for AstÃƒÂ©rix aux Jeux Olympiques
Genre Data not available for Obsluhoval jsem anglickÃƒÂ©ho krÃƒÂ¡le
Genre Data not available for LÃƒÂ¥t den rÃƒÂ¤tte komma in
Genre Data not available for Los CronocrÃƒÂ­menes
Genre Data not available for MÃƒÂ¤n som hatar kvinnor
Genre Data not available for DÃƒÂ¸d snÃƒÂ¸
Genre Data not available for ChÃƒÂ©ri
Genre Data not available for St. TrinianÃ¢Â€Â™s
Genre Data not available for DisneyÃ¢Â€Â™s A Christmas Carol
Genre Data not available for ItÃ¢Â€Â™s Complicated
Genre Data not available for Un ProphÃƒÂ¨te
Genre Data not available for PerrierÃ¢Â€Â™s Bounty
Genre Data not available for Io sono lÃ¢Â€Â™amore
Genre Data not available for The KingÃ¢Â€Â™s Speech
Genre Data not available for JÃƒÂ»san-nin no shikaku
Genre Data not available for Mr. Poppers's Penguins
Genre Data not available for Harry Potter and the Deathly Hallows: Part II
Genre Data not available for New YearÃ¢Â€Â™s Eve
Genre Data not available for Jin lÃƒÂ­ng shÃƒÂ­ san chai
Genre Data not available for Doctor Seuss' The Lorax
Genre Data not available for 2016: ObamaÃ¢Â€Â™s America
Genre Data not available for Le prÃƒÂ©nom
Genre Data not available for De rouille et dÃ¢Â€Â™os
Genre Data not available for La Vie d'AdÃƒÂ¨le Ã¢Â€Â“ Chapitres 1 & 2
Genre Data not available for Le passÃƒÂ©
Genre Data not available for WinterÃ¢Â€Â™s Tale
Genre Data not available for GodÃ¢Â€Â™s Not Dead
Genre Data not available for Legends of Oz: DorothyÃ¢Â€Â™s Return
Genre Data not available for MomsÃ¢Â€Â™ Night Out
Genre Data not available for LetÃ¢Â€Â™s Be Cops
Genre Data not available for Antarctic Edge: 70Ã‚Âº South
Genre Data not available for CÃƒÂ¬kÃƒÂ¨ NiÃƒÂ¨ YinniÃƒÂ¡ng
Genre Data not available for Siakh lokhamim: ha'slilim ha'gnouzim
Genre Data not available for Star Wars Ep. VII: The Force Awakens
Genre Data not available for DaddyÃ¢Â€Â™s Home
Genre Data not available for GodÃ¢Â€Â™s Not Dead 2
Genre Data not available for The Huntsman: WinterÃ¢Â€Â™s War
Genre Data not available for MotherÃ¢Â€Â™s Day
Genre Data not available for HillaryÃ¢Â€Â™s America: The Secret History of the Democratic Party
Genre Data not available for DonÃ¢Â€Â™t Think Twice
Genre Data not available for PeteÃ¢Â€Â™s Dragon
Genre Data not available for DonÃ¢Â€Â™t Breathe
Genre Data not available for Bridget JonesÃ¢Â€Â™s Baby
Genre Data not available for Miss PeregrineÃ¢Â€Â™s Home for Peculiar Children
Genre Data not available for Tyler PerryÃ¢Â€Â™s Boo! A Madea Halloween
Genre Data not available for IÃ¢Â€Â™m Not Ashamed
Genre Data not available for Billy LynnÃ¢Â€Â™s Long Halftime Walk
Genre Data not available for Rules DonÃ¢Â€Â™t Apply
Genre Data not available for AssassinÃ¢Â€Â™s Creed
Genre Data not available for A DogÃ¢Â€Â™s Purpose
Genre Data not available for The ZookeeperÃ¢Â€Â™s Wife
Genre Data not available for JÃƒÂ¬yÃƒÂ¬ dÃƒÂ shÃ„Â«
Genre Data not available for The HitmanÃ¢Â€Â™s Bodyguard
Genre Data not available for Tyler PerryÃ¢Â€Â™s Boo 2! A Madea Halloween
Genre Data not available for DaddyÃ¢Â€Â™s Home 2
Genre Data not available for Star Wars Ep. VIII: The Last Jedi
Genre Data not available for MollyÃ¢Â€Â™s Game
Genre Data not available for NobodyÃ¢Â€Â™s Fool
Genre Data not available for The Girl in the SpiderÃ¢Â€Â™s Web
Genre Data not available for Dr. SeussÃ¢Â€Â™ The Grinch
Genre Data not available for Spider-Man: Into The Spider-Verse 3D
Genre Data not available for A DogÃ¢Â€Â™s Way Home
Genre Data not available for IsnÃ¢Â€Â™t it Romantic
Genre Data not available for PokÃƒÂ©mon: Detective Pikachu

/Users/freethrall/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Unnamed: 0_x,id_x,release_date_x,movie,production_budget,domestic_gross,worldwide_gross,release_year,real_production_budget,real_domestic_gross,...,Unnamed: 0.1,genre_ids,id_y,original_language,original_title,popularity,release_date_y,title,vote_average,vote_count
0,3994,95,2000-01-12,My Dog Skip,7000000,34099640,35795319,2000,1.039256e+07,5.062608e+07,...,NaN,"[35, 18]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3752,53,2000-01-12,Next Friday,9500000,57176582,59675307,2000,1.410419e+07,8.488730e+07,...,NaN,[35],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5747,48,2000-01-14,The Terrorist,25000,195043,195043,2000,3.711629e+04,2.895709e+05,...,NaN,[99],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,940,41,2000-01-14,Supernova,60000000,14218868,14816494,2000,8.907909e+07,2.111006e+07,...,NaN,"[27, 878, 53]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4060,61,2000-01-21,The Boondock Saints,7000000,30471,411874,2000,1.039256e+07,4.523882e+04,...,NaN,"[28, 80, 53]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4000,80,81,2019-05-24,Aladdin,182000000,246734314,619234314,2019,1.820000e+08,2.467343e+08,...,NaN,"[12, 35, 14, 10749, 10751]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4001,4012,13,2019-05-24,BrightBurn,7000000,16794432,27989498,2019,7.000000e+06,1.679443e+07,...,NaN,"[27, 878, 53]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4002,1370,71,2019-05-31,Rocketman,41000000,57342725,108642725,2019,4.100000e+07,5.734272e+07,...,NaN,[18],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4003,124,25,2019-05-31,Godzilla: King of the Monsters,170000000,85576941,299276941,2019,1.700000e+08,8.557694e+07,...,NaN,"[28, 878]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,4265,66,2019-05-31,MA,5000000,36049540,44300625,2019,5.000000e+06,3.604954e+07,...,NaN,[27],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

How many movies still don't have genre info?  Either as a NaN or []

Should the missing data still be collected or those rows dropped?

Collect data and drop leftover rows with missing data

Save the dataframe as a CSV file

In [20]:
bud_prof_genres_df.to_csv(r'datasets/financials_with_genres.csv')