# The Movie Database Genres
Query the movie database api for the list of genres and their corresponding ids

Then save the data in a csv file for later use

In [1]:
import pandas as pd
import requests
import json

In [2]:
def get_keys(path):
    """Get the API Key in the file indictated by the path parameter"""
    with open(path) as f:
        return json.load(f)

Request the data from TMDB using their API

In [3]:
# get the api key
keys = get_keys('/Users/freethrall/.secret/tmdb_api.json')
api_key = keys['api_key']

# url of the movie database api for genres
url = 'https://api.themoviedb.org/3/genre/movie/list'

parameters = {'api_key': api_key,
             'language': 'en-US'}

r = requests.get(url, params=parameters)

if r.status_code != 200: #there was a problem
    print(f'There was a problem, status code {r.status_code}')
else:
    print('success')

success

convert the json response to a dataframe

In [4]:
tmdb_genres_df = pd.DataFrame.from_dict(r.json()['genres'])
tmdb_genres_df

       id             name
0      28           Action
1      12        Adventure
2      16        Animation
3      35           Comedy
4      80            Crime
5      99      Documentary
6      18            Drama
7   10751           Family
8      14          Fantasy
9      36          History
10     27           Horror
11  10402            Music
12   9648          Mystery
13  10749          Romance
14    878  Science Fiction
15  10770         TV Movie
16     53         Thriller
17  10752              War
18     37          Western

Change the name of the name column to movie_name

In [8]:
tmdb_genres_df.rename(columns={'name': 'movie_name'}, inplace=True)

In [9]:
tmdb_genres_df

       id       movie_name
0      28           Action
1      12        Adventure
2      16        Animation
3      35           Comedy
4      80            Crime
5      99      Documentary
6      18            Drama
7   10751           Family
8      14          Fantasy
9      36          History
10     27           Horror
11  10402            Music
12   9648          Mystery
13  10749          Romance
14    878  Science Fiction
15  10770         TV Movie
16     53         Thriller
17  10752              War
18     37          Western

Save the dataframe to a file so we don't have to scrape the website every time.

In [10]:
tmdb_genres_df.to_csv(r'datasets/tmdb_genres.csv')

Check to see if it was saved

In [11]:
ls ./datasets

bom.movie_gross.csv*             imdb.title.principals.csv*
clean_tmdb_movies.csv            imdb.title.ratings.csv*
clean_tmdb_movies_df.csv         last_20_years_movie_budgets.csv
financials_with_genres.csv       rt.movie_info.tsv*
imdb.name.basics.csv*            rt.reviews.tsv*
imdb.title.akas.csv*             tmdb.movies.csv*
imdb.title.basics.csv*           tmdb_genres.csv
imdb.title.crew.csv*             tn.movie_budgets.csv*